@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure App Services Intial page of Azure</h1>
    <h3>@ViewData["Greet"]</h3>
</div>
